:root {
  --black: #111;
  --accent: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --bg-body: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --gray: rgba(255, 255, 255, 0.7);
  --gray-secondary: rgba(17, 17, 17, 0.7);
  --fonts: "Montserrat", sans-serif;
  --size-text: 14px;
  --line-height: 1.28;
  --letter-spacing: -0.02em;
}

body {
  font-family: var(--fonts);
  font-size: var(--size-text);
  color: var(--black);
  background-color: var(--bg-body);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

* {
  box-sizing: border-box;
}

/* RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.accent {
  color: var(--accent);
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    padding: 0 32px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header-container {
    gap: 138px;
  }
}

.header-logo-link {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--black);
  text-transform: uppercase;
  align-items: center;
  display: flex;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .header-logo-link {
    margin-right: 0;
  }
}

.button-burger {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .button-burger {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-modal {
    display: none;
  }
}

.button-icon {
  stroke: #111;
}

.header-list-div {
  display: flex;
  gap: 28px;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .header-list-div {
    gap: 90px;
  }
}

@media screen and (max-width: 767px) {
  .header-list-div {
    display: none;
  }
}

.nav-list {
  display: flex;
  gap: 20px;
}
.nav-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--black);
}

.header-social-list {
  display: flex;
  gap: 14px;
}

.header-social-icon {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.mobile-modal {
    display: none;
  transform: translateY(-200%);
}
.hero-section{
    padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
.hero-section{
    padding-bottom: 40px;
}   
}
.hero-section .container{
    background-color: rgba(17, 17, 17, 0.7);
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 100%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-bg_mob@1x.jpg);
  background-repeat: no-repeat;
  border-radius: 30px;
  max-width: 335px;
  background-size: cover;
  background-position: center;
}
@media screen and (min-resolution: 192dpi) and (max-width:767px) {
  .hero-section .container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 100%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-bg_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
.hero-section .container{
    background-color: rgba(17, 17, 17, 0.7);
    background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 100%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-bg_tab@1x.jpg);
    max-width: 704px;  
          padding: 0 40px;
} 
}

@media screen and (min-resolution: 192dpi) and (max-width:1199px) {
  .hero-section .container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 100%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-bg_tab@2x.jpg);

  }
}

@media screen and (min-width: 1200px) {
.hero-section .container{
    background-color: rgba(17, 17, 17, 0.7);
    background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 100%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-bg@1x.png);
    max-width: 1136px;  
} 
}
@media screen and (min-resolution: 192dpi) and (min-width: 1200px) {
  .hero-section .container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 100%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-bg@2x.jpg);

  }
}
.hero-title{
    padding-top: 395px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--white);
    margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
.hero-title{
    padding-top: 671px;
    font-size: 28px;
    line-height: 121%;
    max-width: 484px;

}   
}
@media screen and (min-width: 1200px) {
.hero-title{
    padding-top: 381px; 
}   
}
.hero-div{
    display: flex;
    gap: 14px;
    margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
.hero-tablet-div{
   
    gap: 585px;
  
}   
}
@media screen and (min-width: 768px) {
.hero-tablet-div{
    display: flex;
    gap: 153px;
    justify-content: space-between;
    align-items: baseline;
}   
}
.hero-button{
    border-radius: 100px;
    padding: 12px 28px;
    background: var(--accent);
    border: none;
    
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
}
@media screen and (min-width: 768px) {
.hero-button{
    padding: 14px 40px;
}   
}
.hero-link{
    border: 1px solid var(--white);
    border-radius: 100px;
    padding: 12px 28px;
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
}
@media screen and (min-width: 768px) {
.hero-link{
    padding: 14px 40px;
}   
}
.hero-scroll-div{
    display: flex;
    gap: 12px;
    align-items: center;
    padding-bottom: 20px;
}
.scroll-link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;  
    letter-spacing: -0.03em;
    color: var(--white);
   
}
.hero-svg-div{
    border-radius: 100px;
    background-color: var(--white);
    width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 768px) {
.hero-svg-div{
    width: 38px;
    height: 38px;
}   
}
@media screen and (min-width: 768px) {
.hero-icon{
    width: 22px;
    height: 22px;
}   
}
/* benefits-section */
.benefits-section{
  background: var(--violet);
  padding: 50px;
}
 @media screen and (min-width: 768px) {
  .benefits-section {
      padding: 50px 12px;
    }
 }
 @media screen and (max-width:767px) {
    .benefits-section {
        padding: 20px 0;
      }
 }
.benefits-heading{
  display: none;
}
.benefits-list{
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
.benefits-list{
  display:flex;
  flex-wrap: wrap; 
  gap: 44px;
}
}
@media screen and (max-width:767px) {
  .benefits-list {
      display: grid;
      justify-content: center;
    }
}
.benefits-item{
  position: relative;
  
}

.benefits-item:not(:last-child)::after{
     content: "";
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 124px;
    position: absolute;
    top: 63px;
    right: -44px;

}
@media screen and (min-width: 768px){
  .benefits-item:not(:last-child)::after {
    display: none;
    }
}
@media screen and (max-width:767px) {
  .benefits-item:not(:last-child)::after {
    display: none;
  }
}
.svg-benefits-container{
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  padding: 15px;
  width: 62px;
    height: 62px;
}
.benefits-title{
    padding: 22px 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--white);
}

.benefits-paragraph{
    padding: 18px 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
     max-width: 308px;
  }


